In [1]:
from src.models.baselines import RollingBenchmark

In [2]:
db_path = "data/processed/lakehouse.sqlite"

In [3]:
bench = RollingBenchmark(db_path)
bench.load_data()

results_df = bench.recursive_validation()

Loading Gold Panel...

DatabaseError: Execution failed on sql 'SELECT date_fmt, permno, target_ret_excess, mvel1, bm, mom12m, mom1m, voltty FROM gold_panel ORDER BY date_fmt': no such column: voltty

In [ ]:
results_df